@page
@model examen_daw.Pages.EditareModel
@{
}


<form method="post">
    <input asp-for="@Model.Film.Filmid" hidden />
    <div class="form-group">
        <label asp-for="@Model.Film.Titlu">Titlu</label>
        <input class="form-control" asp-for="@Model.Film.Titlu" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Film.An">An</label>
        <input class="form-control" asp-for="@Model.Film.An" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Film.Gen">Gen</label>
        <input class="form-control" asp-for="@Model.Film.Gen" />
    </div>

    <button type="submit" class="btn btn-secondary">Editare</button>

</form>